label{
    display : block;
    margin-bottom : 1rem;
    text-transform: capitalize;
}
.settings-wrapper{
    width : 40vw;
    height: 100vh;
}

@media only screen and (max-width: 600px){
	.settings-wrapper{
        width : 400px;
    }
}

@media only screen and (max-width: 425px){
	.settings-wrapper{
        width : 80vw;
    }
}