.icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
